Source: transitions-aio
Maintainer: "Matthias Urlichs" <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 13),
  python3-mock,
  tox,
  python3-graphviz,
  python3-pygraphviz,
  python3-anyio,
  python3-setuptools,
  python3-wheel,
  python3-setuptools-scm,
Standards-Version: 3.9.6
Homepage: https://github.com/M-o-a-T/transitions_aio

Package: python3-transitions-aio
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
Description: A lightweight, anyio-capable, object-oriented state machine implementation
  This is a fork of python3-transitions:
  It replaces asyncio with anyio.
